uvicorn
pydantic
cmake
opencv-python
fastapi
dlib
face_recognition
pillow
pytesseract
opencv-python-headless
scipy
h11
aiofiles
click
Jinja2
MarkupSafe
python-multipart
six
starlette
typing-extensions